<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<title>Global Bit Block</title>


	<!-- robots(검색) 명령어에 noindex를 사용하면 해당 페이지는 검색 결과에서 제외되며, nofollow를 사용하면 검색로봇이 해당 페이지 내의 링크를 수집하지 않도록 설정할 수 있습니다. -->
	<meta name="robots" content="index,follow">
	<!-- 키워드 -->
	<meta name="Keywords" content="Global Bit Block, Global Bit Block">
	<!-- 작성자 -->
	<meta name="author" content="Global Bit Block">
	<!-- 설명 -->
	<meta name="description" content="Welcome Global Bit Block">
	<!-- 웹,모바일 url -->
	<!-- 모바일 -->
	<link rel="alternate" href="">
	<!-- 웹 -->
	<link rel="canonical" href="">
	<!-- 타이틀 -->
	<meta property="og:title" content="Global Bit Block">
	<!-- 설명 -->
	<meta property="og:description" content="Welcome Global Bit Block">
	<!-- 링크 -->
	<meta property="og:url" content="">
	<!-- 타입 -->
	<meta property="og:type" content="website">
	<!-- 미리보기이미지 -->
	<meta property="og:image" content="/views/images/bitcoin.jpg">

	<!-- 트위터 -->
	<!-- summary는 웹페이지에 대한 요약정보를 보여주는 카드로 우측에 썸네일을 보여주고 그 옆에 페이지의 제목과 요약 내용을 보여준다.
photo는 이미지를 전체적으로 보여주고 player는 오디오나 비디오를 보여주는 카드이다. -->
	<meta name="twitter:card" content="summary">
	<!-- 트위터 카드를 사용하는 URL -->
	<meta name="twitter:url" content="">
	<!-- 카드에 나타날 제목 -->
	<meta name="twitter:title" content="Global Bit Block">
	<!-- 카드에 나타날 요약 설명 -->
	<meta name="twitter:description" content="Welcome Global Bit Block">
	<!-- 카드에 보여줄 이미지 -->
	<meta name="twitter:image" content="/views/images/bitcoin.jpg">

	<!-- 파비콘 (pc용 모바일용)-->
	<link rel="shortcut icon" href="img/favicon.ico" type="">

	<!-- 바로가기 아이콘 -->
	<link rel="apple-touch-icon-precomposed" href="img/simbol.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/simbol-76.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/simbol-120.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/simbol-152.png">
	<link rel="apple-touch-icon-precomposed" sizes="180x180" href="img/simbol-180.png">


	<link rel="stylesheet" href="include/font-awesome/all.min.css">
	<link rel="stylesheet" href="include/notosanskr/notosanskr.css">

	<link rel="stylesheet" href="include/css/style.css">
	<link rel="stylesheet" href="include/css/cur.css">

	<script src="include/js/jquery.min.js"></script>
	<script src="include/js/jquery-ui.min.js"></script>

</head>

<body>

  <div class="maintop subhead">
    <% include ./include/header %>

    <header class="apphead">
      <div class="apptopbar">
        <div class="row">
          <div class="left">
            <a class="btn-appmenu"><i class="fas fa-bars"></i></a>
          </div>
        </div>
      </div>
    </header>

  </div>

  <section>
    <div class="contents">
      <div class="maintitlebox tx-c">
        <h3>자주묻는 질문</h3>
      </div>
      <div class="row mrow faqfullbox">
        <div class="w30p left">
          <ul class="faqmenubox">
            <li><a class="faqmenu1 active"><%=LANG['LANG216']%></a></li>
            <li><a class="faqmenu2"><%=LANG['LANG217']%></a></li>
            <li><a class="faqmenu3"><%=LANG['LANG218']%></a></li>
            <li><a class="faqmenu4"><%=LANG['LANG219']%></a></li>
            <li><a class="faqmenu5"><%=LANG['LANG220']%></a></li>
          </ul>
        </div>
        <div class="w70p left faq-cont">
          <ul class="faqbox faqbox1">
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG221']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG222']%><br><br>
								<%=LANG['LANG223']%>
								<%=LANG['LANG224']%>
								<%=LANG['LANG225']%><br>
								<%=LANG['LANG226']%>
                </p>
  						</div>
  					</li>
  					<li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG227']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG228']%><br><br>
                <b><%=LANG['LANG229']%></b><br>
                <b><%=LANG['LANG230']%></b><br>
                <b><%=LANG['LANG231']%></b><br>
                </p>
  						</div>
  					</li>
  					<li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG232']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG233']%><br><br>
								<%=LANG['LANG232']%><br>
								<%=LANG['LANG235']%>
                </p>
  						</div>
  					</li>
  					<li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG234']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG237']%>
                </p>
  						</div>
  					</li>
  					<li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG236']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG237']%>
                </p>
  						</div>
  					</li>
  					<li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG238']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG239']%>
                </p>
  						</div>
  					</li>
  					<li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG242']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG241']%><br>
								<%=LANG['LANG242']%>
                </p>
  						</div>
  					</li>
  					<li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG243']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG251']%>1234<%=LANG['LANG252']%><br>
								<%=LANG['LANG253']%> <%=LANG['LANG254']%>
								<%=LANG['LANG255']%>
								<%=LANG['LANG256']%>
                </p>
  						</div>
  					</li>
          </ul>
          <ul class="faqbox faqbox2">
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG257']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG258']%><br>
								<%=LANG['LANG259']%>
                </p>
  						</div>
  					</li>
  					<li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG259']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG260']%><br>
								<%=LANG['LANG261']%><br>
								<%=LANG['LANG262']%>
                </p>
  						</div>
  					</li>
          </ul>
          <ul class="faqbox faqbox3">
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG263']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG264']%></p>
  						</div>
  					</li>
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG265']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG266']%></p>
  						</div>
  					</li>
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG267']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG268']%><%=LANG['LANG269']%><br>
								<%=LANG['LANG270']%><br>
                  <b><%=LANG['LANG271']%></b>
                </p>
  						</div>
  					</li>
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG272']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG273']%></p>
  						</div>
  					</li>
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG274']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG275']%></p>
  						</div>
  					</li>
          </ul>
          <ul class="faqbox faqbox4">
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG276']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG277']%><br>
								<%=LANG['LANG278']%><br>
								<%=LANG['LANG279']%>
                </p>
  						</div>
  					</li>
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG280']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG281']%></p>
  						</div>
  					</li>
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG282']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG283']%><br>
								<%=LANG['LANG284']%>
                </p>
  						</div>
  					</li>
          </ul>
          <ul class="faqbox faqbox5">
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG285']%>.</p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG286']%>
                </p>
  						</div>
  					</li>
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG286']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG287']%>
                </p>
  						</div>
  					</li>
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG288']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG289']%>
                </p>
  						</div>
  					</li>
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG290']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG291']%><br>
								<%=LANG['LANG292']%>
                </p>
  						</div>
  					</li>
            <li>
  						<div class="question">
  							<span>Q</span><p><%=LANG['LANG292']%></p>
  						</div>
  						<div class="answer">
  							<span>A</span><p><%=LANG['LANG293']%><br>
								<%=LANG['LANG294']%>
                </p>
  						</div>
  					</li>
          </ul>
        </div>
      </div>
    </div>

  </section>



  <% include ./include/footer %>
  <% include ./include/menu %>
  <% include ./include/lengset %>


</body>


</html>


<script src="include/js/cur.js"></script>
