<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>한강수 병원</title>
  <link rel="stylesheet" href="include/css/styl.css" />
  <meta name="_csrf" content="<%= csrfToken %>" />
  <meta name="_publicKey" content="<%= publicKey %>" />
  <script src="include/js/jquery.min.js"></script>
  <script src="include/js/jquery-ui.min.js"></script>
  <script src="include/js/cur.js"></script>
  <script src="scripts/api.js"></script>
  <script src="scripts/commonLib.js"></script>
</head>
<script>
  const LOGIN = '<%=LOGIN%>';
  const LOGINALERT = "<%=typeof(LOGINALERT) === 'string'%>";
  $(window).load(function () {
    if (LOGINALERT === 'true') {
      alert("<%=LANG['LANG214']%>");
      location.href = '/signin';
    }
  });
</script>
